In [5]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the contacts.xlsx Data.

In [16]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('/Users/varunvinodh/Documents/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [28]:
import json

# Convert each row to a dictionary.
dict_values = []
for index, row in contact_info_df.iterrows():
    row_dict = json.loads(row['contact_info'])
    dict_values.append(row_dict)

# Create a new DataFrame that contains the extracted data.
contacts_df_clean = pd.DataFrame(dict_values, columns=['contact_id', 'name', 'email'])

# Print the new DataFrame.
contacts_df_clean.head(5)

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [29]:
# Check the datatypes.
print(contacts_df_clean.dtypes)

contact_id     int64
name          object
email         object
dtype: object

In [30]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contacts_df_clean[['first_name', 'last_name']] = contacts_df_clean['name'].str.split(' ', expand=True)

# Preview updated dataframe
contacts_df_clean.head(5)

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis
2,4187,Sofie Woods,sofie.woods@riviere.com,Sofie,Woods
3,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
4,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com,Samuel,Sorgatz

In [31]:
# Reorder the columns
contacts_df_clean = contacts_df_clean.reindex(columns=['contact_id', 'first_name', 'last_name', 'email'])

# Preview new df
contacts_df_clean

,contact_id,first_name,last_name,email
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana,Ellis,mariana.ellis@rossi.org
2,4187,Sofie,Woods,sofie.woods@riviere.com
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr

In [26]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.dtypes

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [34]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("/Users/varunvinodh/Documents/contacts_clean.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.